body {
    margin: 0%;
}
.diva {
    justify-content: space-around;
    align-items: center;
    display: flex;
}
.ha {
    text-align: center;
    text-transform: capitalize;
    font-family: sans-serif;
    font-weight: bolder;
    font-style: italic;
}
.divc {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.v1 {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 300px;
    border-radius: 10%;
}
.d1 {
    left: 60px;
    height: 60px;
    width: 60px;
    position: relative;
    border-radius: 50%;
    border: 2px solid transparent;
    border-top: 2px solid rgb(255, 0, 0);
    animation: animate 2s linear infinite;
    
}
.d2 {
    left: 30px;
    height: 60px;
    width: 60px;
    position: relative;
    border-radius: 50%;
    border: 2px solid transparent;
    border-bottom: 2px solid rgb(255, 0, 0);
    animation: animate 2s linear infinite;
}
.d3 {
    height: 60px;
    width: 60px;
    position: relative;
    border-radius: 50%;
    border: 2px solid transparent;
    border-top: 2px solid rgb(255, 0, 0);
    animation: animate 2s linear infinite;
}
.d4 {
    right: 30px;
    height: 60px;
    width: 60px;
    position: relative;
    border-radius: 50%;
    border: 2px solid transparent;
    border-bottom: 2px solid rgb(255, 0, 0);
    animation: animate 2s linear infinite;
}
.d5 {
    right: 60px;
    height: 60px;
    width: 60px;
    position: relative;
    border-radius: 50%;
    border: 2px solid transparent;
    border-top: 2px solid rgb(255, 0, 0);
    animation: animate 2s linear infinite;
}
@keyframes animate
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}
.divd {
    background-color: aqua;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.v2 {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 420px;
    
}
.d11 {
    width: 60px;
    height: 60px;
    background-color: white;
    top: 120px;
    right: 180px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.d12 {
    width: 60px;
    height: 60px;
    background-color: rgba(241, 210, 210, 0.804);
    top: 120px;
    right: 180px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}